<!doctype html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Neighbor</title>
        <link href="css/singlePageTemplate.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet">
        <!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
        <script>var __adobewebfontsappname__="dreamweaver"</script>
        <script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>

</head>
<body>
     <div class="container"> 
        <header> 
            <img src="images/Black-Logo-White-Background.png" width="80" height="80"></img>
            
                <nav>
                    <ul>
                        <li><a href="#about">ABOUT US</a></li>
                        <li><a href="#banner">LOCATION</a></li>
                        <li> <a href="#action">ACTION</a></li>
                        <li> <a href="#contact">CONTACT</a></li>
                    </ul>
                </nav>
        </header>

        <section class="hero" id="hero">
                <p align="center" style="width:100%"><img id="mainlogo" src="images/Good-Neighbor-Tutoring-White-No-Background.png" width="1000" height="1000"></img></p>
                <div class="box" >
                    <p class="tagline" >"SHOW PEOPLE JESUS BY HOW WE SHOW UP AND SHOW LOVE"</p>
                </div>
        </section>
        <section class="about" id="about">
            <p align="center">
                <iframe id="video" width="1400" height="850" src="https://www.youtube.com/embed/7Zd8XBetR44?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; " allowfullscreen></iframe>
            </p>
                <div class="box2">
                    <p class="abouttitle">Four Pillars</p> 
        </section>
        <div class="gallery" align="center">
            <div class="card" >
                <div class="iconimg">
                    <img src="Icons/Cross.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">SPIRITUAL FORMATION</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">If we are successful in all of our other endeavors, but people are not being introduced to and growing in their relationship with Jesus then we failed.</p> 
                </div>
            </div>
            <div class="card">
                <div class="iconimg">
                    <img src="Icons/Pot@4x.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">PHYSICAL NEEDS</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">We want to step into the places where we can be the “Hands and feet of Jesus in practical ways.” From feeding, to school supplies, to clothing, and etc.</p> 
                </div>
            </div>
            <div class="card">
                <div class="iconimg">
                    <img src="Icons/Book@4x.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">ACADEMICS</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">We focus on reading, writing and math. If you can master these 3 then you can learn anything else. We are not trying to replace the system, rather fill in the gaps.</p> 
                </div>
            </div>
            <div class="card">
                <div class="iconimg">
                    <img src="Icons/LifeSkills@4x.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">LIFE SKILLS</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">There are many areas in life that the system doesn’t prepare the students for. We want to broaden horizons and peak interests. </p> 
                </div>
            </div>
                
        </div>
        <section class="banner" id="banner">
                <p class="parallax" id="locationh">LOCATION</p>
                <button title="Application" class="btn1" id="btn1" type="button">
                        Appllication
                    </button>
                
                <div id= "fortmap" class= "fortmap" type="button">
                <p align="center">
                    <img id="schedule" src="images/schedule.png" width="410" height="430"></img>
                    <iframe id="fortmapfr" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3365.8053211362076!2d-84.97439268385736!3d32.47789850648196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888ccd0346f207d5%3A0xe8f49fd2eae368b6!2sThe%20Fort%20Church%20at%20Eastern%20Heights!5e0!3m2!1sen!2sus!4v1620401979987!5m2!1sen!2sus" width="570" height="430"  allowfullscreen="" loading="lazy" style="border-width: 0px;"></iframe>
                </p>
                </div>
        </section>

        <div id="popup" style="position:relative">
                    <iframe id="popupFrame" src="" width="100%" height="100%"></iframe>
        </div>

        <section class="action" id="action">
                <div class="box3">
                    <p class="actiontitle" id="actiontitle">Action</p> 
        </section>
        
        <div class="gallery" align="center">
            <div class="card" >
                <div class="iconimg">
                    <img src="Icons/Money@4x.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">FINANCIAL PARTNER</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">This doesn’t happen for free, but we offer it for free. We would love to partner with you “To show more kids Jesus by showing up and showing them love. “</p> 
                    

                    <button title="btn2" class="btn2" onclick=" window.open('https://goodneighbortutoring.z2systems.com/np/clients/goodneighbortutoring/donation.jsp', '_blank'); return false;" style="display:block; width:250px; padding-top: 17px; padding-bottom: 17px;">
                        Donate
                    </button>
                    
                </div>
            </div>
            <div class="card">
                <div class="iconimg">
                    <img src="Icons/Prayer@4x.png" width="45" height="70" ></img>
                </div>  
                <div class="cardbody">
                    <h4 class="cardtitle">PRAYER PARTNER</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">We are looking for intercessors who will step up and cover us in prayer. We are intentionally stepping into darkness and spiritual warfare.  We need men and women who will do battle with us. </p> 
                </div>
            </div>
            <div class="card">
                <div class="iconimg">
                    <img src="Icons/Participants@4x.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">PARTICIPANTS</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">Our goal is to be in a 1-1 ratio of adults to students. We always need help with set up, clean up, teaching, leading, and participating in kids lives. </p> 

                    <button title="btn2" class="btn2" onclick=" window.open('https://drive.google.com/file/d/1jhv1tvbaW5OJfLVKl-NFtrbEJdwCCKMC/view?usp=sharing', '_blank'); return false;" >
                        Volunteer Application
                    </button>
                </div>
            </div>
                
        </div>

        <section class="footer_banner" id="contact">


        <div id="button2" class="button2" href="#">CONTACT</div>

            <div class="modal_info">
                <form class="form" id="form">
                    <h2>CONTACT US</h2>
                    <p type="Name:"><input placeholder="Write your name here.."></input></p>
                    <p type="Email:"><input placeholder="Let us know how to contact you back.."></input></p>
                    <p type="Message:"><input placeholder="What would you like to tell us.."></input></p>
                    <button>Send Message</button>
                    
                </form>
            </div>
        
        <div class="copyright">&copy;2021- <strong>Light Theme</strong></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
        (function(){
  var $content = $('.modal_info').detach();

  $('.button2').on('click', function(e){
    modal.open({
      content: $content,
      width: 340,
      height: 360,
    });
    $content.addClass('modal_content');
    $('.modal ').addClass('display');
    $('button2').addClass('load');
  });
}());

var modal = (function(){

  var $close = $('<button role="button" class="modal_close" title="Close"><span></span></button>');
  var $content = $('<div class="modal_content"/>');
  var $modal = $('<div class="modal"/>');
  var $window = $(window);

  $modal.append($content, $close);

  $close.on('click', function(e){
    $('.modal ').addClass('conceal');
    $('.modal ').removeClass('display');
    $('.open_button').removeClass('load');
    e.preventDefault();
    modal.close();
  });

  return {
    center: function(){
      var top = Math.max($window.height() - $modal.outerHeight(), 0) / 2;
      var left = Math.max($window.width() - $modal.outerWidth(), 0) / 2;
      $modal.css({
        top: top + $window.scrollTop(),
        left: left + $window.scrollLeft(),
      });
    },
    open: function(settings){
      $content.empty().append(settings.content);

      $modal.css({
        width: settings.width || 'auto',
        height: settings.height || 'auto'
      }).appendTo('body');

      modal.center();
      $(window).on('resize', modal.center);
    },
    close: function(){
      $content.empty();
      $modal.detach();
      $(window).off('resize', modal.center);
    }
  };
}());
    </script>

<script>

    function displayMap(elementValue) {
        var loc = document.getElementById("location");
        var fmap = document.getElementById("fortmap");
        var hmap = document.getElementById("hopemap")

        if(elementValue.value == 1){
            hmap.style.display = elementValue.value == 1 ? 'block' : 'none';
            fmap.style.display = "none";
        } else{
            fmap.style.display = elementValue.value == 0 ? 'block' : 'none';
            hmap.style.display = "none";
        }
   }
</script>

<script>
        document.getElementById('btn1').onclick = displayPopup;
        function displayPopup() {
            var popup = document.getElementById("popup");
            var frame = document.getElementById('popupFrame');
            frame.src = "https://docs.google.com/forms/d/e/1FAIpQLSfYzEySXJ5ybAhyn5REEX_LC5C0SG_uOS9onH57fw7bQxPrXg/viewform?embedded=true";
            popup.style.display = "block";
}
    </script>

</body>
</html>
