<!doctype html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Neighbor</title>
        <link href="css/singlePageTemplate.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet">
        <!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
        <script>var __adobewebfontsappname__="dreamweaver"</script>
        <script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>

</head>
<body>
     <div class="container"> 
        <header> <a href="">
            <img src="images/Black-Logo-White-Background.png" width="80" height="80"></img>
            </a>
                <nav>
                    <ul>
                        <li><a href="#about">ABOUT US</a></li>
                        <li><a href="#about">LOCATION</a></li>
                        <li> <a href="#contact">ACTION</a></li>
                        <li> <a href="#contact">CONTACT</a></li>
                    </ul>
                </nav>
        </header>

        <section class="hero" id="hero">
                <p align="center"><img src="images/Good-Neighbor-Tutoring-White-No-Background.png" width="1000" height="1000"></img></p>
                <div class="box" >
                    <p class="tagline" >"SHOW PEOPLE JESUS BY HOW WE SHOW UP AND SHOW LOVE"</p>
                </div>
        </section>
        <section class="about" id="about">
            <p align="center">
                <video controls="controls" controlsList=”nodownload” width="1200" height="950">
                    <source src="https://goodneighborvideo.s3.us-east-2.amazonaws.com/GoodNeighbor.mp4" type="video/mp4"></video>
            </p>
                <div class="box2">
                    <p class="abouttitle">Four Pillars</p> 
        </section>
        <div class="gallery" align="center">
            <div class="card" >
                <div class="iconimg">
                    <img src="Icons/Cross.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">SPIRITUAL FORMATION</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">If we are successful in all of our other endeavors, but people are not being introduced to and growing in their relationship with Jesus then we failed.</p> 
                </div>
            </div>
            <div class="card">
                <div class="iconimg">
                    <img src="Icons/Pot@4x.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">PHYSICAL NEEDS</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">We want to step into the places where we can be the “Hands and feet of Jesus in practical ways.” From feeding, to school supplies, to clothing, and etc.</p> 
                </div>
            </div>
            <div class="card">
                <div class="iconimg">
                    <img src="Icons/Book@4x.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">ACADEMICS</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">We focus on reading, writing and math. If you can master these 3 then you can learn anything else. We are not trying to replace the system, rather fill in the gaps.</p> 
                </div>
            </div>
            <div class="card">
                <div class="iconimg">
                    <img src="Icons/LifeSkills@4x.png" width="45" height="70" ></img>
                </div>
                <div class="cardbody">
                    <h4 class="cardtitle">LIFE SKILLS</h4> 
                    <hr class="new1"></hr>
                    <p class="cardinfo">There are many areas in life that the system doesn’t prepare the students for. We want to broaden horizons and peak interests. </p> 
                </div>
            </div>
                
        </div>
        <section class="banner">
                <p class="parallax">SELECT LOCATION</p>
                <div class="location">
                    <select name="Location" id="location" >
                        <option value="fort">The Fort</option>
                        <option value="hope">Hope Springs</option>
                    </select>
                </div>
                <div  id="fort" class= "fortinfo map">
                <p align="center">
                    <img src="images/schedule.png" width="520" height="450"></img>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3365.8053211362076!2d-84.97439268385736!3d32.47789850648196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888ccd0346f207d5%3A0xe8f49fd2eae368b6!2sThe%20Fort%20Church%20at%20Eastern%20Heights!5e0!3m2!1sen!2sus!4v1620401979987!5m2!1sen!2sus" width="600" height="450"  allowfullscreen="" loading="lazy"></iframe>
                </p>
                </div>

                <div  id="hope" class= "hopeinfo map">
                <p align="center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3366.2722551365496!2d-84.91964568482588!3d32.46540898106707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f333b26900a689%3A0x92cec3a51254e171!2sHope%20Springs%20Community%20Church!5e0!3m2!1sen!2sus!4v1620404107412!5m2!1sen!2sus" width="600" height="450" allowfullscreen="" loading="lazy"></iframe>width="600" height="450"  allowfullscreen="" loading="lazy"></iframe>
                </p>
                </div>
        </section>
        <footer>
                <article class="footer_column">
                <h3>ABOUT</h3>
                <img src="images/placeholder.jpg" alt="" width="400" height="200" class="cards"/>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
                </article>
                <article class="footer_column">
                <h3>LOCATION</h3>
                <img src="images/placeholder.jpg" alt="" width="400" height="200" class="cards"/>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
                </article>
        </footer>
            <section class="footer_banner" id="contact">
                <h2 class="hidden">Footer Banner Section </h2>
                <p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
                <div class="button">subscribe</div>
            </section>
        <div class="copyright">&copy;2020- <strong>Light Theme</strong></div>
        </div>
<script>
</script>
        


</body>
</html>
